{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create a new project</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="project_name" name="project_name" class="input-xlarge" placeholder="Project name" required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
  </form>
{% endblock %}
