{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>What are you working on right now?</h2>
    <p>We'll manage the rest for you.</p>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="newshit" name="newshit" class="input-xlarge"
            placeholder="What you do" value="{{ request.form.task }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Add time slot</button>
        </div>
    </div>
  </form>
{% endblock %}
