{% extends "layout.html" %}

{% block body %}
<div class="section">
    <h3>Project: {{project.name}}</h3>
    <p>Author: {{current_user.username}}</p>

    {% if current_user.current_project == project.id %}
    <a class="btn disabled">Active project</a>
    {% else %}
    <form action="{{ url_for('select_shit') }}" method=put>
        <input type="hidden" id="current_project" name="current_project" value="{{ project.id }}">
        <button type="submit" class="btn">Make it active</button>
    </form>
    {% endif %}
</div>
<div class="divider"></div>
<div class="section">
    <h5>Tasks</h5>
</div>
{% endblock %}
