{% extends "layout.html" %}

{% block body %}
<div class="section">
    <h3>Project: {{project.name}}</h3>
    <p>Author: {{current_user.username}}</p>

    {% if current_user.current_project == project.id %}
    <a class="btn disabled">Active project</a>
    {% else %}
    <form action="{{ url_for('select_shit') }}" method=post>
        <input type="hidden" id="current_project" name="current_project" value="{{ project.id }}">
        <button type="submit" class="btn">Make it active</button>
    </form>
    {% endif %}
</div>
<div class="divider"></div>
<div class="section">
    <h5>Tasks</h5>
    <div class="collection">
    {% for task in tasks %}
        <a href="/task/{{task.id}}" class="collection-item">
            {{ task.name }}
        </a>
    {% endfor %}
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Time slots</h5>
    {% for timeslot in timeslots %}
        <div class="divider"></div>
        <div class="row">
            <div class="col s4">
                <div class="row">
                    <h5>Task: {{timeslot[1].name}}</h5>
                </div>
                <div class="row">
                    <p>{{timeslot[0].started_at}} - 
                    {% if timeslot[0].ended_at %}
                        {{timeslot[0].ended_at}}
                    {% else %}
                        current
                    {% endif %}</p>
                </div>
            </div>
            <div class="input-field col s6">
                <textarea name="comment" id="text{{timeslot.id}}" class="materialize-textarea"
                          form="form{{timeslot.id}}">{{timeslot[0].comment}}</textarea>
                <label for="text{{timeslot.id}}">Comment {{timeslot[0].id}}</label>
            </div>
            <div class="col s2">
                <form action="{{ url_for('edit_timeslot_comment', timeslot_id=timeslot.id) }}"
                      method=post class="form-horizontal" id="form{{timeslot.id}}">
                    <div class="control-group">
                        <div class="controls">
                          <button type="submit" class="btn btn-success">Edit comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="divider"></div>
    {% endfor %}
</div>
{% endblock %}
