{% extends "layout.html" %}
{% block body %}
    <h3>Fuck you {{ current_user.username }}</h3>
    
    <div class="divider"></div>
    <h5>Add a time slot on current task</h5>
    <p>Task is {{workingon}}.</p>
    <p>We'll manage the rest for you.</p>
    <form action="{{ url_for('new_shit') }}" method=post class="form-horizontal">
        <div class="control-group">
            <div class="controls">
              <input type="text" id="newshit" name="newshit" class="input-xlarge"
                placeholder="Task" value="{{ request.form.task }}"
                required>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <input type="text" id="comment" name="comment" class="input-xlarge"
                placeholder="Comment" value="{{ request.form.comment }}"
                required>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Add time slot</button>
            </div>
        </div>
    </form>
    
    <br>
    <div class="divider"></div>

    <div class="section">
        <h5>Tasks on current project</h5>
        {% for task in tasks %}
            <p>{{task.name}}</p>
        {% endfor %}
    </div>

    <div class="divider"></div>

    <div class="section">
        <h5>Your projects</h5>
        <div class="collection">
        {% for project in current_user.projects %}
            <a href="/project/{{project.id}}" class="collection-item">
                {% if project.id == current_user.current_project %}
                <span class="badge">active</span>
                {% endif %}
                {{project.name}}
            </a>
        {% endfor %}
        </div>
        <a href="{{ url_for('new_project') }}" class="waves-effect waves-light btn">Create a new project</a>
    </div>
{% endblock %}
