{% extends "layout.html" %}
{% block body %}
    <h3>Fuck you {{ current_user.username }}</h3>

    <div class="divider"></div>

    <div class="row">
        {% if current_project %}
        <div class="col s12 m6 card-panel light-green lighten-2">
            <h5>Active project</h5>
            <p>You are currently working on: <strong>{{current_project.name}}</strong></p>
        </div>
        {% else %}
        <div class="col s12 m6 card-panel red lighten-3 lighten-2">
            <h5>Create or activate a project</h5>
        </div>
        {% endif %}
        {% if current_timeslot %}
        <div class="col s12 m6">
            <h5>Active task: <strong>{{current_timeslot.task.name}}</strong></h5>
            <div class="input-field col s12">
                <textarea name="comment" id="textareacomment" class="materialize-textarea" form="commentform">{{ current_timeslot.comment }}</textarea>
                <label for="textareacomment">Comment</label>
            </div>
            <div class="row">
                <form action="{{ url_for('edit_timeslot_comment', timeslot_id=current_timeslot.id) }}"
                      method=POST class="form-horizontal" id="commentform" style="display:inline;">
                    <button type="submit" class="btn btn-success">Edit comment</button>
                </form>
                <form action="{{ url_for('end_timeslot') }}" method=POST style="display:inline;">
                    <button type="submit" class="btn red darken-4">Job done</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    {% if current_timeslot %}
        <br>
        <div class="divider"></div>
    {% endif %}

    <h5>Add a time slot on current task</h5>
    <div class="row">
        <form action="{{ url_for('new_shit') }}" method=post class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select name="select_task">
                        {% for task in tasks %}
                        <option value="{{task.id}}">{{task.name}}</option>
                        {% endfor %}
                    </select>
                    <label>Chose a task</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="comment" name="comment" class="input-xlarge" placeholder="Comment" value="{{ request.form.comment }}">
                    <label for="comment">Make a comment about what you are doing</label>
                </div>
            </div>
            <div class="row">
                  <button type="submit" class="btn btn-success">Add time slot</button>
            </div>
        </form>
    </div>

    <br>
    <div class="divider"></div>

    <!-- Start Current project tasks and Projects -->
    <div class="row">
        <div class="col s12 m6">
            <h5>Tasks on current project</h5>
            <div class="collection">
            {% if tasks %}
                {% for task in tasks %}
                <a href="/task/{{task.id}}" class="collection-item">
                    {{ task.name }}
                </a>
                {% endfor %}
            {% endif %}
            </div>
            <a href="{{ url_for('new_task') }}" class="waves-effect waves-light btn">Create a new task</a>
        </div>
        <div class="col s12 m6">
            <h5>Your projects</h5>
            <div class="collection">
            {% for project in current_user.projects %}
                <a href="/project/{{project.id}}" class="collection-item">
                    {% if project.id == current_user.current_project_id %}
                        <span class="badge">active</span>
                    {% endif %}
                    {{project.name}}
                </a>
            {% endfor %}
            </div>
            <a href="{{ url_for('new_project') }}" class="waves-effect waves-light btn">Create a new project</a>
        </div>
    </div>
    <!-- End Currend project tasks and Projects -->
{% endblock %}
