{% extends "layout.html" %}
{% block body %}
<div class="section">
    <h3>Task: {{task.name}}</h3>
    <p>Project: {{project.name}}</p>
    <p>Author: {{current_user.username}}</p>
    <p>Description: {{task.description}}</p>
    <div class="input-field col s12">
        <textarea name="description" id="textareadescription"
                  class="materialize-textarea" form="descriptionform">{{ task.description }}</textarea>
        <label for="textareadescription">Description</label>
    </div>
    <div class="row">
        <form action="{{ url_for('edit_task_comment', task_id=task.id) }}"
              method=POST class="form-horizontal" id="descriptionform" style="display:inline;">
            <button type="submit" class="btn btn-success">Edit description</button>
        </form>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Time slots</h5>
    {% for timeslot in timeslots %}
        <div class="divider"></div>
        <div class="row">
            <div class="col s4">
                {{timeslot.started_at}} - 
                {% if timeslot.ended_at %}
                    {{timeslot.ended_at}}
                {% else %}
                    current
                {% endif %}
            </div>
            <div class="input-field col s6">
                <textarea name="comment" id="text{{timeslot.id}}" class="materialize-textarea"
                          form="form{{timeslot.id}}">{{timeslot.comment}}</textarea>
                <label for="text{{timeslot.id}}">Comment {{timeslot.id}}</label>
            </div>
            <div class="col s2">
                <form action="{{ url_for('edit_timeslot_comment', timeslot_id=timeslot.id) }}"
                      method=post class="form-horizontal" id="form{{timeslot.id}}">
                    <div class="control-group">
                        <div class="controls">
                          <button type="submit" class="btn btn-success">Edit comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="divider"></div>
    {% endfor %}
</div>
{% endblock %}
